* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3CB371;
}

.container{
    position: relative;
    max-width: 500px; /* Lebar dari container form*/
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.container header{
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color: #808000;
}

.container header::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #6B8E23;
}

.container form{
    position: relative;
    min-height: 490px;
    margin-top: 16px;
    background-color: #fff;
}

.container form .details{
    margin-top: 30px; /* Jarak judul container dan form */
}

.container form .fields{
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}

form .fields .input-fields{
    display: flex;
    /* width: calc(100% / 3 - 15px); */
    flex-direction: column;
    margin: 10px 0; /* Jarak label dan input */
}
/* */
.input-fields label{
    font-size: 15px; /* Ukuran huruf label form */
    font-weight: bolder;
    color: #008080;
}

.input-fields input, select{
    height: 42px; /* Ukuran kolom inputan data */
    outline: none;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
}

.input-fields input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.input-fields input[type="date"]{
    color: #808000;
}

.input-fields input[type="date"]:valid{
    color: #2E8B57;
}

.input-fields input[type="radio"]{
    margin: 8px 0;
    font-size: 15px;
    font-weight: 400;
    color: #333;
}

.input-fields textarea{
    height: 60px; /* Ukuran kolom inputan data */
    outline: none;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
}

.container form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background-color: #2E8B57;
    margin: 25px 0;
    transition: all 0.3s linear;
    cursor: pointer;
}

form button:hover{
    background-color: #6B8E23;
}